@font-face {
  font-family: "ibm_plex_monoregular";
  src: url("./fonts/ibmplexmono-regular-webfont.woff") format("woff2"),
    url("./fonts/ibmplexmono-regular-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

#root {
  padding-bottom: 60px;
}

h1 {
  font-size: 1.2rem;
  margin-left: 15px;
  border: black solid 3px;
  border-radius: 2px;
  padding: 5px;
  width: 85px;
  margin-bottom: 25px;
}

h3 {
  font-size: 0.9rem;
  margin-left: 10px;
}

a {
  color: #413f42;
  text-decoration: none;
  border-bottom: dashed #413f42 1px;
}

aside {
  position: fixed;
  border: black solid 1px;
  background-color: #f2f2f2;
  font-size: 0.85rem;
  top: 0;
  width: 100%;
  z-index: 1;
}

aside button {
  font-size: 0.9rem;
  background: none;
  border: none;
  margin-top: 8px;
  margin-left: 3px;
}

.aboutBtn:focus,
aside button:focus {
  color: #f0ebe3;
  background-color: #413f42;
  border: black solid 2px;
  box-shadow: -1px 2px #413f42;
  opacity: 85%;
}

body,
form,
form input,
form textarea,
form button {
  background-color: #f2f2f2;
  font-family: ibm_plex_monoregular;
}

form input::placeholder,
form textarea::placeholder {
  font-size: 1rem;
}

body {
  height: 100%;
  margin: 0;
  background-color: #f0ebe3;
  color: #413f42;
}

form {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  border-radius: 2px;
  padding: 10px;
  box-shadow: -5px 7px #413f42;
  gap: 10px;
  width: 300px;
  margin: auto;
}

form input,
textarea {
  color: #413f42;
  font-size: 1rem;
  border: none;
  resize: none;
  outline: none;
}

form button {
  border: black solid 2px;
  border-radius: 2px;
  font-size: 1rem;
  padding: 5px;
  width: 60px;
  cursor: pointer;
}

textarea:focus,
input:focus {
  border: black solid 2px;
  border-radius: 2px;
}

form button:focus {
  color: #f0ebe3;
  background-color: #413f42;
  border: black solid 2px;
  box-shadow: -1px 2px #413f42;
  opacity: 85%;
}

footer {
  background-color: #f2f2f2;
  border-top: black solid 1px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.aboutBtn {
  font-size: 1.3rem;
  background: none;
  border: black solid 3px;
  border-radius: 2px;
  padding: 5px;
  margin-left: 15px;
  margin-bottom: 25px;
}

.note-post {
  display: flex;
  font-size: 1rem;
  background-color: #f2f2f2;
  border: black solid 1px;
  border-radius: 2px;
  box-shadow: -5px 7px #413f42;
  width: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  overflow: hidden;
}

.note-post h2,
p {
  margin: 0;
  padding: 10px;
}

.note-post button {
  font-size: 1rem;
  background: none;
  border: none;
  margin-left: 3px;
  padding: 0;
  cursor: pointer;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
}

@media only screen and (min-width: 760px) {
  .aboutBtn {
    font-size: 1.3rem;
  }

  aside {
    width: 300px;
  }

  form {
    width: 400px;
  }
  form input,
  textarea {
    font-size: 1.2rem;
  }
  form button {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .aboutBtn {
    font-size: 2rem;
  }

  .note-post {
    float: left;
    margin-left: 15px;
    margin-right: 25px;
  }

  h1 {
    font-size: 2rem;
    width: 140px;
  }

  aside {
    position: fixed;
    border: black solid 1px;
    background-color: #f2f2f2;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
  }

  aside button {
    margin-top: 0;
    cursor: pointer;
  }

  form {
    width: 500px;
  }
  form input,
  textarea {
    font-size: 1.5rem;
  }

  form button {
    font-size: 1.1rem;
  }

  #root {
    display: flex;
    flex-direction: column;
  }
}

@media (pointer: fine) {
  a:hover {
    opacity: 35%;
  }
  button:hover {
    color: #f0ebe3;
    background-color: #413f42;
    opacity: 85%;
    box-shadow: -1px 2px #413f42;
  }
}
